.navbar-nav {
    padding-top: 7px;
    float: right;
}

.form-inline {
	padding-right: 20px;
}

.col-sm-4 {
	border: 1px solid black;
	margin-bottom: 10px;
}

.divGrey {
	border: 4px solid grey;
}

.divBlue {
	border: 4px solid blue;
}

.divFirebrick {
	border: 4px solid firebrick;
}

.divGreen {
	border: 4px solid green;
}